{%extends "base.html"%}
{%block title%}Painel de controle{%endblock%}
{%block content%}
      <div class="card border-primary">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Massa</th>
                <th scope="col">Borda</th>
                <th scope="col">Sabor</th>
                <th scope="col">Status</th>
                <th scope="col">Atualizar</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              
                  {%for back_pedido in back_pedido%}
                  <form method="POST" action="submit"> {% csrf_token %}
                  <tr>
                      <td>{{back_pedido.id}}</td>
                      <td>
                        <select>
                          <option value="" selected="selected" hidden="hidden">{{back_pedido.pizzas.massa.tipo}}</option>
                          {%for back_massa in back_massa%}
                            <option>{{back_massa.tipo}}</option>
                          {%endfor%}
                        </select>
                      </td>
                      <td>{{back_pedido.pizzas.borda.tipo}}</td>
                      <td>{{back_pedido.nome}}</td>
                      <td>
                        <select name="edit_status">
                          {%for back_status in back_status%}
                            <option value={{back_pedido.id}} selected="selected" hidden="hidden">{{back_pedido.status}}</option>
                            <option value={{back_status.id}}>{{back_status}}</option>
                          {%endfor%}
                       </select>
                          </div>
                        </td>
                          <td>
                          <input name="Atualizar" id="" class="btn btn-primary" type="submit" value="Atualizar"></input>
                        </td>
                      {%endfor%}         
                      <td name="massas.id" value={{massa.id}}>{{massa.id}}</td>
                      <td>{{massa.tipo}}</td>
                  </tr>
                </form>
            
                  
            </tbody>
      </div>

{%endblock%}