{%extends "base.html"%}
{%block title%}Painel de controle{%endblock%}
{%block content%}
  <form>
      <div class="card border-primary">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Edição do ID: {{pedido}}</h4>
          <br>
          <label>Massa: </label>
            <select>
                {%for massa in massa%}
                <option value={{massa.id}}>{{massa.tipo}}</option>
                {%endfor%}
            </select>
        </br>
        <br>
        <label>Borda:</label>
            <select>
              {%for borda in borda %}
                <option value={{borda.id}}>{{borda.tipo}}</option>
              {%endfor%}
            </select>
        </br>
        <br>
        <label>Sabor:</label> 
        <select> 
            {%for sabor in sabor %}  
            <option value{{sabor.id}}>{{sabor.nome}}</option>
            {%endfor%}
          </select>
        </br>
        </div>
      </div>
  </form>
{%endblock%}