{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
      Featured
    </div>
  <form action="Submit" method="POST"> {% csrf_token %} 
    <div class="card-body">
        <div class="form-group">
          <br><label for="massa"><h5>Selecione a massa de sua preferencia</h5></label></br>
          <select class="form-control" name="massa" id="">
            {%for massa in massa %}
            <option value={{massa.id}}>{{massa.tipo}}</option>
            {% endfor %}
          </select>
          <div class="form-group">
            <br><label for="border"><h5>Que tipo de Borda você prefere ?</h5></label></br>
            <select class="form-control" name="border" id="">
              <option></option>
            </select>
            <div class="form-group">
                <br><label for=""><h5>Qual Sabor ?</h5></label></br>
            <select class="form-control" name="sabor" id="">
                <option></option>
              </select>
  

          </div>
        </div>
    </div>
  </div>
</form>
{% endblock %}
