{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
      Featured
    </div>
  <form action="Submit" method="POST"> {% csrf_token %} 
    <div class="card-body">
        <div class="form-group">
          <br><label for="massa"><h5>Selecione a massa de sua preferencia</h5></label></br>
          <select class="form-control" name="massa" id="">
            {%for massa in massa %}
            <option value={{massa.id}}>{{massa.tipo}}</option>
            {% endfor %}
          </select>
          <div class="form-group">
            <br><label for="border"><h5>Que tipo de Borda você prefere ?</h5></label></br>
            <select class="form-control" name="border" id="">  
              {%for borda in borda%}
              <option>{{borda.tipo}}</option>
              {%endfor%}
            </select>
            <div class="form-group">
                <br><label for=""><h5>Qual Sabor ?</h5></label></br>
            <select class="form-control" name="sabor" id="">
              {%for sabor in sabor%}  
              <option>{{sabor.nome}}</option>
              {%endfor%}
              </select>

              <br><button type="submit" name="" id="" class="btn btn-primary" btn-lg btn-block>Enviar</button></br>
  

          </div>
        </div>
    </div>
  </div>
</form>
{% endblock %}
